*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    margin: 0;

    display: flex;
    flex-direction: column;
}

header.navbar-container {
    width: 100%;
    max-width: 2400px;
    padding-block: 2rem;
    margin-inline: auto;

    display: flex;
    justify-content: space-around;
    align-items: center;

    z-index: 9999;
}

header.navbar-container .logo img {
    width: 100px;
}

header.navbar-container .nav-list ul {
    padding-left: 0;

    display: flex;
    justify-content: center;
    gap: 2rem 1rem;
}

header.navbar-container .nav-list li {
    list-style-type: none;
}

header.navbar-container .nav-list li a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    padding: 0.5rem 1.5rem;
    border-radius: 999px;
    font-size: 1.05rem;

    transition: all 0.2s ease-in-out;
}

header.navbar-container .nav-list li:hover a {
    background-color: #1F4529;
    color: #E8ECD7;
}

.featured-image {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
}

.card {
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
}

main {
    display: flex;
    gap: 1.5rem;
    padding: 20px;
}

#content {
    display: flex;
    flex-flow: column nowrap;
    flex: 3;
    gap: 1rem 2rem;
}

aside {
    flex: 2;
}

aside .card p{
    line-height: 1.6;
}

main .article-header .title {
    margin-block: 1rem;
    font-size: 3.5rem;
    color: #1F4529;
}

main #content .card button {
    padding: 0.8rem 2.5rem;
    border: 3px solid transparent;
    border-radius: 999px;
    margin-block-start: 1rem;
  
    background-color: #1F4529;
  
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 700;
    color: white;
  
    cursor: pointer;
    transition: all 0.15s ease-in;
}
  
 main .content .card button:hover {
    border: 3px solid #2d3e50;
    background-color: transparent;
  
    color: #2d3e50;
}

.kenapa h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.kenapa ul {
    list-style: none;
    padding: 0;
}

.kenapa li {
    font-size: 18px;
    color: #444;
    margin: 8px 0;
}

.kenapa li i{
    color: green;
    padding: 5px
}

main #content .card ol li h3 {
    padding: 0rem .2rem;
    font-size: 1rem;
}

main #content .card ol li p {
    font-size: 1rem;
    text-align: justify;
    line-height: 1.6;
}

footer {
    margin-top: 20px;
    padding: 30px;
    color: white;
    background-color: #1F4529;
    font-size: 16px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; 
    max-width: 1200PX;
    margin: 0 auto;
}

.footer-kontak .footer-reservasi {
    flex: 1;
    min-width: 250px; 
}

.footer-kontak h3 .footer-reservasi h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-kontak p .footer-reservasi p {
    margin: 5px 0;
}

.footer-kontak a {
    color: #E8ECD7;
    text-decoration: none;
}

.footer-kontak a:hover {
    text-decoration: underline;
}

.btn-reservasi {
    background-color: #E8ECD7;
    color: #1F4529;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
}

@media screen and (max-width: 768px) {
    header.navbar-container {
        flex-direction: column;
    }
    
    header.navbar-container .nav-list ul {
        flex-wrap: wrap;
        column-gap: 0.5rem;
    }
    main {
        flex-flow: column nowrap;
    }

    main aside {
        align-self: center;
    }

    main .article-header .title{
        text-align: center;
    }
}

@media screen and (max-width: 1200px) {
    header.navbar-container {
        flex-direction: column;
    }
    
    header.navbar-container .nav-list ul {
        flex-wrap: wrap;
        column-gap: 0.5rem;
    }
    main {
        flex-flow: column nowrap;
    }

    main aside {
        align-self: center;
    }

    main .article-header .title{
        text-align: center;
    }
}

